// Main menu (Mini panel inside block).
.pane-block-site-menu {
  z-index: 10;
  > .block-content {
    padding: @gutter * 0.6 @gutter;
  }
  // General items style.
  .menu {
    margin: 0;
    .clearfix();
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: @menu-padding;
        font-size: @default-h6-size;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
        &.active-trail,
        &.active {
          color: @link-color-link-hover-active;
        }
        &.active {
          text-decoration: underline;
        }
      }
      &.expanded {
        position: relative;
        // Menu arrow.
        > a {
          padding-right: @menu-padding-hor + @menu-arrow-width;
          &:after {
            content: @menu-arrow-right;
            position: absolute;
            right: @menu-padding-hor;
            top: 3px;
          }
        }
        // Secondary menus expand.
        &:hover > .menu {
          display: block;
        }
      }
    }
  }
  .pane-content {
    > .menu {
      // First level menu.
      > li {
        float: left;
        > a {
          border-right: 1px solid @menu-border-color;
        }
        &.last {
          a {
            border: none;
          }
        }
      }
      // Second level menu
      .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid @border-color;
        padding: @gutter;
        .border-radius(10px);
        .gradient(@pane-color-bg-start, @pane-color-bg-end);
        .pane-default-shadow();
        // Deep menu.
        .menu {
          top: 0;
          left: 100%;
          margin-left: -3px;
        }
      }
    }
  }
  .pane-system-main-menu {
    float: left;
  }
  .pane-menu-menu-create {
    float: right;
    .pane-content > .menu .menu {
      left: initial;
      right: 0;
    }
  }
}
