// Minipanel for site branding region style.
.pane-site-branding {
  > .block-content {
    .border-radiuses(0, @pane-default-border-radius, @pane-default-border-radius, 0);
  }
  .logo {
    float: left;
    width: 15%;
    img {
      width: 128px;
      height: 128px;
    }
  }
  .site-name {
    font-family: @default-font-h;
    font-weight: bold;
    float: left;
    margin-top: 36px;
    font-size: @default-h1-size + 4px;
  }
  .lang-dropdown-switcher {
    float: right;
    // Fix for switcher width.
    .aSkin {
      width: 160px !important;
      img {
        position: relative;
        top: -1px;
        margin-right: 4px;
        width: 18px;
        height: 12px;
        display: inline-block;
      }
      .ddChild {
        img {
          margin-left: 8px;
        }
      }
    }
  }
  // Pane inside minipanel with user menu.
  .pane-system-user-menu {
    clear: right;
    float: right;
    width: 50%;
    text-align: right;
    ul {
      float: right;
    }
    li {
      float: left;
    }
  }
}
// User login form pane.
.pane-user-login-form {
  form {
    .clearfix();
  }
}
