// Pane and block default style.
.pane-style-default {
  position: relative;
  > .block-title,
  > .pane-title {
    // @TODO: Pane titles.
    display: none;
    position: absolute;
    top: -10px;
  }
  > .block-content,
  > .pane-content {
    position: relative;
    border: @pane-default-border-style;
    padding: @gutter;
    margin-bottom: @pane-default-margin;
    .border-radius(@pane-default-border-radius);
    .gradient(@pane-color-bg-start, @pane-color-bg-end);
    .pane-default-shadow();
  }
}
