/**
 * Mixint to cast pane or block shadow.
 */
.pane-default-shadow() {
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: -1;
    width: 50%;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
    transform: rotate(-2deg);
  }
  &:after {
    left: initial;
    right: 10px;
    transform: rotate(2deg);
  }
}
