/**
 * Override system defaults.
 */
@default-font: 'Open Sans', sans-serif;
@default-font-h: 'PT Serif', serif;

/**
 * General defaults.
 */
@background-color: #141411;
@border-color: #47493e;

/**
 * Form styles.
 */
@f-border-width: 2px;
@f-border-color: lighten(@border-color, 30%);
@f-border-rad: 5px;
@f-label-size: 14px;
@f-label-color: #fff;
@f-input-color: #111;
@f-input-color-error: rgb(180, green(@border-color), blue(@border-color));
@f-input-shadow: inset -2px 3px 3px rgba(0,0,0,0.3);
@f-input-pad-vert: 4px;
@f-input-pad-hor: 8px;
@f-item-height: 32px;
@f-item-spacing: 16px;
@f-item-background: #fff;
@f-button-color: darken(@default-fontcolor, 40%);
@f-button-color-hover: darken(@default-fontcolor, 60%);
@f-button-pad-vert: 8px;
@f-button-pad-hor: 14px;
@f-button-gradient-color-base: #272822;
@f-button-gradient-start: lighten(@f-button-gradient-color-base, 80%);
@f-button-gradient-end: lighten(@f-button-gradient-color-base,40%);
@f-button-hover-gradient-start: lighten(@f-button-gradient-color-base,60%);
@f-button-hover-gradient-end: lighten(@f-button-gradient-color-base, 80%);
@f-button-text-shadow: 1px 1px 3px @f-label-color;
@f-button-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .6);
@f-button-shadow-hover: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
@f-button-shadow-active: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
@f-button-border-rad: 8px;
@f-button-push-offset: 1px;
@f-select-arrow-down: '\25bc';
@f-select-arrow-up: '\25b2';
@f-select-arrow-width: 28px;
@f-select-pad-vert: 4px;
@f-select-pad-hor: 6px;
@f-select-backgound-hover: darken(@f-item-background, 30%);
@f-select-transition-speed: 0.2s;
@f-transition-speed: 0.5s;

/**
 * Link colors.
 */
@link-color-link-hover-active: #e0edf9;
@link-color-link-hover: darken(@link-color-link-hover-active, 5%);
@link-color-link: darken(@link-color-link-hover-active, 20%);

/**
 * Pane variables.
 */
// Pane colors.
@pane-color-bg: #272822;
@pane-color-bg-start: lighten(@pane-color-bg, 7%);
@pane-color-bg-end: darken(@pane-color-bg, 7%);
@pane-color-border: lighten(@pane-color-bg, 12%);
// Pane other defaults.
@pane-default-margin: 28px;
@pane-default-border-radius: 10px;
@pane-default-border-style: 1px solid @pane-color-border;

/**
 * Menu styles.
 */
@menu-padding-vert: 4px;
@menu-padding-hor: 14px;
@menu-arrow-width: 20px;
@menu-padding: @menu-padding-vert @menu-padding-hor;
@menu-border-color: lighten(@border-color, 15%);
@menu-arrow-right: '\27A4';

/**
 * Tabs (local tasks) styles.
 */
@tabs-link-base: #272822;
@tabs-link-start: lighten(@tabs-link-base, 7%);
@tabs-link-end: darken(@tabs-link-base, 4%);
@tabs-link-active-start: lighten(@tabs-link-start, 15%);
@tabs-link-active-end: lighten(@tabs-link-end, 3%);
@tabs-border-color: @tabs-link-active-end;

/**
 * Table styles.
 */
@table-padding-vert: 4px;
@table-padding-hor: 8px;
@table-padding: @table-padding-vert @table-padding-hor;
