@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);
/**
 * LESS variables and mixins.
 */
/**
 * System variables.
 */
/**
 * Breakpoints.
 */
/**
 * Required defaults.
 */
/**
 * General mixin to build CSS columns.
 */
/**
 * Mixin to build column types recursively.
 */
/**
 * Mixin to set general parameters for each column.
 */
/**
 * Recursive extending of the class.
 */
/**
 * Clearfix mixin.
 */
/**
 * Text shadow.
 */
/**
 * Box shadow.
 */
/**
 * Box shadow extended.
 */
/**
 * Box shadow inner.
 */
/**
 * Box sizing.
 */
/**
 * Border radius.
 */
/**
 * Border radius for each corner.
 */
/**
 * Opacity mixin.
 */
/**
 * Vertical twocolor gradient.
 */
/**
 * Horizontal twocolor gradient.
 */
/**
 * Animation.
 */
/**
 * Transitions.
 */
/**
 * Transform general.
 */
/**
 * Transform scale.
 */
/**
 * Transform rotate.
 */
/**
 * Transform skew.
 */
/**
 * Transform translate.
 */
/**
 * Transform translate3d.
 */
/**
 * Perspective.
 */
/**
 * Transform origin.
 */
/**
 * Appearance.
 */
/**
 * User select.
 */
/**
 * Theme base LESS.
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ul.menu,
ul.menu li.leaf,
ul.menu li.expanded,
ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  font: 13px 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #b8b8b8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', serif;
  color: #e0e0e0;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 14px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media screen and (min-width: 960px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media screen and (min-width: 960px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.col,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1 {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  float: left;
}
.container {
  min-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.element-invisible {
  display: none;
}
/**
 * Custom files.
 */
/**
 * Override system defaults.
 */
/**
 * General defaults.
 */
/**
 * Form styles.
 */
/**
 * Link colors.
 */
/**
 * Pane variables.
 */
/**
 * Menu styles.
 */
/**
 * Tabs (local tasks) styles.
 */
/**
 * Table styles.
 */
/**
 * Mixint to cast pane or block shadow.
 */
form .views-exposed-widget,
form .form-wrapper,
form .form-actions,
form .form-item {
  margin: 0;
  margin-bottom: 16px;
}
form .views-exposed-widget:last-child,
form .form-wrapper:last-child,
form .form-actions:last-child,
form .form-item:last-child {
  margin: 0;
}
form label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 4px;
}
form label .form-required {
  margin-left: 2px;
}
form .description {
  margin-top: 4px;
}
.form-textarea-wrapper textarea,
input[type="password"],
input[type="text"],
.aSkin {
  max-width: 100%;
  height: 32px;
  color: #111111;
  padding: 4px 8px;
  border: 2px solid #969987;
  background-color: #ffffff;
  -webkit-transition: border-color, 0.5s;
  -moz-transition: border-color, 0.5s;
  -ms-transition: border-color, 0.5s;
  -o-transition: border-color, 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset -2px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -2px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset -2px 3px 3px rgba(0, 0, 0, 0.3);
}
.form-textarea-wrapper textarea:focus,
input[type="password"]:focus,
input[type="text"]:focus,
.aSkin:focus {
  outline: none;
  border: 2px solid #47493e;
}
.form-textarea-wrapper textarea.error,
input[type="password"].error,
input[type="text"].error,
.aSkin.error {
  border: 2px solid #b4493e;
  background-image: none;
}
.form-textarea-wrapper textarea.error .ddChild,
input[type="password"].error .ddChild,
input[type="text"].error .ddChild,
.aSkin.error .ddChild,
.form-textarea-wrapper textarea.error:after,
input[type="password"].error:after,
input[type="text"].error:after,
.aSkin.error:after {
  border-color: #b4493e;
}
.form-textarea-wrapper textarea[disabled="disabled"],
input[type="password"][disabled="disabled"],
input[type="text"][disabled="disabled"],
.aSkin[disabled="disabled"] {
  opacity: 0.5;
}
.form-textarea-wrapper textarea {
  opacity: 1 !important;
  height: initial;
}
input.form-submit,
.aSkin:after,
.button {
  border: 2px solid #47493e;
  display: inline-block;
  color: #525252;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #ffffff;
  -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.6);
  background-color: #f2f2f0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f0), to(#919482));
  background: -webkit-linear-gradient(top, #f2f2f0, #919482);
  background: -moz-linear-gradient(top, #f2f2f0, #919482);
  background: -ms-linear-gradient(top, #f2f2f0, #919482);
  background: -o-linear-gradient(top, #f2f2f0, #919482);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input.form-submit.active,
.aSkin:after.active,
.button.active,
input.form-submit:active,
.aSkin:after:active,
.button:active,
input.form-submit:hover,
.aSkin:after:hover,
.button:hover {
  border: none;
  margin: 2px;
  text-shadow: none;
  color: #1f1f1f;
}
input.form-submit:hover,
.aSkin:after:hover,
.button:hover {
  background-color: #c2c3b9;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2c3b9), to(#f2f2f0));
  background: -webkit-linear-gradient(top, #c2c3b9, #f2f2f0);
  background: -moz-linear-gradient(top, #c2c3b9, #f2f2f0);
  background: -ms-linear-gradient(top, #c2c3b9, #f2f2f0);
  background: -o-linear-gradient(top, #c2c3b9, #f2f2f0);
  -webkit-box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
}
input.form-submit.active,
.aSkin:after.active,
.button.active,
input.form-submit:active,
.aSkin:after:active,
.button:active {
  position: relative;
  top: 1px;
  -webkit-box-shadow: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
}
input.form-submit:focus,
.aSkin:after:focus,
.button:focus {
  outline: none;
}
form .field-add-more-submit {
  margin: 0;
}
form .field-add-more-submit:hover {
  margin: 0;
  border: 2px solid #47493e;
}
form .field-multiple-table {
  margin-bottom: 7px;
}
.aSkin {
  padding-right: 32px;
  border: 2px solid #969987;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.aSkin .ddTitle {
  height: 20px;
}
.aSkin .ddChild {
  width: auto !important;
  top: 28px !important;
  left: 0;
  right: 0;
  margin-left: -2px;
  margin-right: -2px;
  border: 2px solid #969987;
}
.aSkin .ddChild li {
  background-color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.aSkin .ddChild li.selected,
.aSkin .ddChild li:hover {
  background-color: #b3b3b3;
}
.aSkin .ddChild .ddlabel {
  display: inline-block;
  padding: 4px 8px;
  white-space: nowrap;
}
.aSkin:after {
  display: block;
  content: '\25bc';
  line-height: 18px;
  width: 28px;
  position: absolute;
  top: -2px;
  right: -2px;
  height: 32px;
  border: 2px solid #969987;
  padding: 4px 6px;
  z-index: 11;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.aSkin.borderRadiusTp:after,
.aSkin:hover:after {
  background-color: #c2c3b9;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2c3b9), to(#f2f2f0));
  background: -webkit-linear-gradient(top, #c2c3b9, #f2f2f0);
  background: -moz-linear-gradient(top, #c2c3b9, #f2f2f0);
  background: -ms-linear-gradient(top, #c2c3b9, #f2f2f0);
  background: -o-linear-gradient(top, #c2c3b9, #f2f2f0);
  -webkit-box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.aSkin:active:after {
  top: -1px;
  height: 31px;
  -webkit-box-shadow: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 2px 3px 2px 0px rgba(0, 0, 0, 0.7);
}
.aSkin.borderRadiusTp {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.aSkin.borderRadiusTp:after {
  content: '\25b2';
}
.aSkin.borderRadiusTp:after,
.aSkin:active:after,
.aSkin:hover:after {
  text-shadow: none;
  color: #1f1f1f;
}
table.views-table {
  width: 100%;
}
table.views-table .views-empty p {
  margin: 0;
}
table thead tr th {
  border: 1px solid white;
  padding: 4px 8px;
  background-color: #272822;
  text-indent: 5px;
}
table tbody tr th,
table tbody tr td {
  border: 1px solid white;
  padding: 4px 8px;
}
table tbody tr.even,
table tbody tr.odd {
  background-color: transparent;
  border: none;
}
table tbody tr.even {
  background-color: #272822;
}
table tbody tr.odd {
  background-color: #141411;
}
table tbody tr.draggable {
  padding: 0;
}
table tbody tr.draggable .field-multiple-drag {
  vertical-align: middle;
  padding: 0;
  width: auto;
}
table tbody tr.draggable .field-multiple-drag .tabledrag-handle {
  display: block;
  padding: 0;
  margin: 0;
  width: 23px;
  height: 23px;
}
table tbody tr.draggable .field-multiple-drag .tabledrag-handle .handle {
  padding: 0;
  margin: 5px;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.pane-style-default {
  position: relative;
}
.pane-style-default > .block-title,
.pane-style-default > .pane-title {
  display: none;
  position: absolute;
  top: -10px;
}
.pane-style-default > .block-content,
.pane-style-default > .pane-content {
  position: relative;
  border: 1px solid #47493e;
  padding: 15px;
  margin-bottom: 28px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3a3b32;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a3b32), to(#141512));
  background: -webkit-linear-gradient(top, #3a3b32, #141512);
  background: -moz-linear-gradient(top, #3a3b32, #141512);
  background: -ms-linear-gradient(top, #3a3b32, #141512);
  background: -o-linear-gradient(top, #3a3b32, #141512);
}
.pane-style-default > .block-content:before,
.pane-style-default > .pane-content:before,
.pane-style-default > .block-content:after,
.pane-style-default > .pane-content:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: -1;
  width: 50%;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
  transform: rotate(-2deg);
}
.pane-style-default > .block-content:after,
.pane-style-default > .pane-content:after {
  left: initial;
  right: 10px;
  transform: rotate(2deg);
}
.pane-block-site-menu {
  z-index: 10;
}
.pane-block-site-menu > .block-content {
  padding: 9px 15px;
}
.pane-block-site-menu .menu {
  margin: 0;
  zoom: 1;
}
.pane-block-site-menu .menu:before,
.pane-block-site-menu .menu:after {
  content: "";
  display: table;
}
.pane-block-site-menu .menu:after {
  clear: both;
}
.pane-block-site-menu .menu:before,
.pane-block-site-menu .menu:after {
  content: "";
  display: table;
}
.pane-block-site-menu .menu:after {
  clear: both;
}
.pane-block-site-menu .menu li {
  margin: 0;
  padding: 0;
}
.pane-block-site-menu .menu li a {
  display: block;
  padding: 4px 14px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}
.pane-block-site-menu .menu li a.active-trail,
.pane-block-site-menu .menu li a.active {
  color: #e0edf9;
}
.pane-block-site-menu .menu li a.active {
  text-decoration: underline;
}
.pane-block-site-menu .menu li.expanded {
  position: relative;
}
.pane-block-site-menu .menu li.expanded > a {
  padding-right: 34px;
}
.pane-block-site-menu .menu li.expanded > a:after {
  content: '\27A4';
  position: absolute;
  right: 14px;
  top: 3px;
}
.pane-block-site-menu .menu li.expanded:hover > .menu {
  display: block;
}
.pane-block-site-menu .pane-content > .menu > li {
  float: left;
}
.pane-block-site-menu .pane-content > .menu > li > a {
  border-right: 1px solid #6f7261;
}
.pane-block-site-menu .pane-content > .menu > li.last a {
  border: none;
}
.pane-block-site-menu .pane-content > .menu .menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #47493e;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3a3b32;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a3b32), to(#141512));
  background: -webkit-linear-gradient(top, #3a3b32, #141512);
  background: -moz-linear-gradient(top, #3a3b32, #141512);
  background: -ms-linear-gradient(top, #3a3b32, #141512);
  background: -o-linear-gradient(top, #3a3b32, #141512);
}
.pane-block-site-menu .pane-content > .menu .menu:before,
.pane-block-site-menu .pane-content > .menu .menu:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: -1;
  width: 50%;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.8);
  transform: rotate(-2deg);
}
.pane-block-site-menu .pane-content > .menu .menu:after {
  left: initial;
  right: 10px;
  transform: rotate(2deg);
}
.pane-block-site-menu .pane-content > .menu .menu .menu {
  top: 0;
  left: 100%;
  margin-left: -3px;
}
.pane-block-site-menu .pane-system-main-menu {
  float: left;
}
.pane-block-site-menu .pane-menu-menu-create {
  float: right;
}
.pane-block-site-menu .pane-menu-menu-create .pane-content > .menu .menu {
  left: initial;
  right: 0;
}
.pane-site-branding > .block-content {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.pane-site-branding .logo {
  float: left;
  width: 15%;
}
.pane-site-branding .logo img {
  width: 128px;
  height: 128px;
}
.pane-site-branding .site-name {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  float: left;
  margin-top: 36px;
  font-size: 38px;
}
.pane-site-branding .lang-dropdown-switcher {
  float: right;
}
.pane-site-branding .lang-dropdown-switcher .aSkin {
  width: 160px !important;
}
.pane-site-branding .lang-dropdown-switcher .aSkin img {
  position: relative;
  top: -1px;
  margin-right: 4px;
  width: 18px;
  height: 12px;
  display: inline-block;
}
.pane-site-branding .lang-dropdown-switcher .aSkin .ddChild img {
  margin-left: 8px;
}
.pane-site-branding .pane-system-user-menu {
  clear: right;
  float: right;
  width: 50%;
  text-align: right;
}
.pane-site-branding .pane-system-user-menu ul {
  float: right;
}
.pane-site-branding .pane-system-user-menu li {
  float: left;
}
.pane-user-login-form form {
  zoom: 1;
}
.pane-user-login-form form:before,
.pane-user-login-form form:after {
  content: "";
  display: table;
}
.pane-user-login-form form:after {
  clear: both;
}
.pane-user-login-form form:before,
.pane-user-login-form form:after {
  content: "";
  display: table;
}
.pane-user-login-form form:after {
  clear: both;
}
.page-node.page-node-translate .block-system table {
  width: 100%;
}
.page-node.page-node-edit.node-type-trade .field-name-field-trade,
.page-node.page-node-add-trade .field-name-field-trade {
  margin-bottom: 0;
}
.page-node.page-node-edit.node-type-trade .field-name-field-trade .form-text,
.page-node.page-node-add-trade .field-name-field-trade .form-text {
  margin-bottom: 8px;
}
.page-node.page-node-edit.node-type-trade .field-name-field-trade .field-add-more-submit,
.page-node.page-node-add-trade .field-name-field-trade .field-add-more-submit {
  display: none;
}
body {
  background-color: #141411;
}
a:not(.contextual-links-trigger):not(.button) {
  text-decoration: none;
  color: #8bbbe8;
  -webkit-transition: color, 0.5s;
  -moz-transition: color, 0.5s;
  -ms-transition: color, 0.5s;
  -o-transition: color, 0.5s;
}
a:not(.contextual-links-trigger):not(.button):hover {
  color: #cbe1f5;
}
body.page-home .page-header .breadcrumb,
body.page-home .page-header .page-title,
body.page-home .page-header .tabs {
  display: none;
}
.text-format-wrapper .filter-wrapper {
  display: none;
}
.site-header,
.site-footer,
.site-content {
  margin-bottom: 42px;
}
fieldset.form-wrapper {
  border: 1px solid #47493e;
}
fieldset.form-wrapper legend {
  padding-right: 3px;
  margin-left: 10px;
  text-indent: 5px;
}
fieldset.form-wrapper .fieldset-wrapper {
  padding: 15px;
}
/**
 * Small helper classes for pages theming.
 */
.margin-auto {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  margin-bottom: 14px;
}
.page-header .breadcrumb {
  margin: 0;
  padding: 0;
}
.page-header .breadcrumb a {
  font-size: 14px;
}
.page-header .tabs {
  margin-bottom: 28px;
}
.page-header .tabs ul.tabs {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #242520;
  zoom: 1;
}
.page-header .tabs ul.tabs:before,
.page-header .tabs ul.tabs:after {
  content: "";
  display: table;
}
.page-header .tabs ul.tabs:after {
  clear: both;
}
.page-header .tabs ul.tabs:before,
.page-header .tabs ul.tabs:after {
  content: "";
  display: table;
}
.page-header .tabs ul.tabs:after {
  clear: both;
}
.page-header .tabs ul.tabs li a {
  border-color: #242520;
}
.page-header .tabs li {
  display: block;
  float: left;
  padding: 0;
  border: none;
}
.page-header .tabs li a {
  font-size: 14px;
  display: block;
  line-height: 16px;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid;
  border-right: 0;
  border-bottom: 0;
  text-shadow: 2px 2px 3px #141411;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  background-color: #3a3b32;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a3b32), to(#1c1d19));
  background: -webkit-linear-gradient(top, #3a3b32, #1c1d19);
  background: -moz-linear-gradient(top, #3a3b32, #1c1d19);
  background: -ms-linear-gradient(top, #3a3b32, #1c1d19);
  background: -o-linear-gradient(top, #3a3b32, #1c1d19);
}
.page-header .tabs li a:hover {
  background-color: #626556;
  background: -webkit-gradient(linear, left top, left bottom, from(#626556), to(#242520));
  background: -webkit-linear-gradient(top, #626556, #242520);
  background: -moz-linear-gradient(top, #626556, #242520);
  background: -ms-linear-gradient(top, #626556, #242520);
  background: -o-linear-gradient(top, #626556, #242520);
}
.page-header .tabs li.active a {
  border-bottom: 0;
  color: #cbe1f5;
  background-color: #626556;
  background: -webkit-gradient(linear, left top, left bottom, from(#626556), to(#242520));
  background: -webkit-linear-gradient(top, #626556, #242520);
  background: -moz-linear-gradient(top, #626556, #242520);
  background: -ms-linear-gradient(top, #626556, #242520);
  background: -o-linear-gradient(top, #626556, #242520);
}
.page-header .tabs li.active a:hover {
  color: #e0edf9;
}
.page-header .tabs li:first-child a {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-header .tabs li:last-child a {
  border-right: 1px solid;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-header .tabs ul.tabs.secondary {
  border-top: 1px solid #242520;
  border-bottom: none;
  float: right;
}
.page-header .tabs ul.tabs.secondary li a {
  background-color: #1c1d19;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c1d19), to(#3a3b32));
  background: -webkit-linear-gradient(top, #1c1d19, #3a3b32);
  background: -moz-linear-gradient(top, #1c1d19, #3a3b32);
  background: -ms-linear-gradient(top, #1c1d19, #3a3b32);
  background: -o-linear-gradient(top, #1c1d19, #3a3b32);
}
.page-header .tabs ul.tabs.secondary li a:hover {
  background-color: #626556;
  background: -webkit-gradient(linear, left top, left bottom, from(#626556), to(#242520));
  background: -webkit-linear-gradient(top, #626556, #242520);
  background: -moz-linear-gradient(top, #626556, #242520);
  background: -ms-linear-gradient(top, #626556, #242520);
  background: -o-linear-gradient(top, #626556, #242520);
}
.page-header .tabs ul.tabs.secondary li:first-child a {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-header .tabs ul.tabs.secondary li:last-child a {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
