.page-node {
  // Node translation overview page.
  &.page-node-translate {
    .block-system {
      table {
        width: 100%;
      }
    }
  }
  // Node add trade form.
  &.page-node-edit.node-type-trade,
  &.page-node-add-trade {
    .field-name-field-trade {
      margin-bottom: 0;
      .form-text {
        margin-bottom: @f-item-spacing * .5;
      }
      .field-add-more-submit {
        display: none;
      }
    }
  }
}
