form {
  // Elements indentation.
  .views-exposed-widget,
  .form-wrapper,
  .form-actions,
  .form-item {
    margin: 0;
    margin-bottom: @f-item-spacing;
    &:last-child {
      margin: 0;
    }
  }

  // Labels.
  label {
    font-size: @f-label-size;
    color: @f-label-color;
    margin-bottom: @f-item-spacing * 0.25;
    .form-required {
      margin-left: 2px;
    }
  }

  // Descriptions.
  .description {
    margin-top: @f-item-spacing * 0.25;
  }
}

// Textarea and selectlist.
.form-textarea-wrapper textarea,
input[type="password"],
input[type="text"],
.aSkin {
  max-width: 100%;
  height: @f-item-height;
  color: @f-input-color;
  padding: @f-input-pad-vert @f-input-pad-hor;
  border: @f-border-width solid @f-border-color;
  background-color: @f-item-background;
  .transition(border-color @f-transition-speed);
  .border-radius(@f-border-rad);
  .box-shadow(@f-input-shadow);
  &:focus {
    outline: none;
    border: @f-border-width solid @border-color;
  }
  &.error {
    border: @f-border-width solid @f-input-color-error;
    background-image: none;
    .ddChild,
    &:after {
      border-color: @f-input-color-error;
    }
  }
  &[disabled="disabled"] {
    opacity: 0.5;
  }
}
.form-textarea-wrapper {
  textarea {
    opacity: 1 !important;
    height: initial;
  }
}

// Buttons and selectlist arrow.
input.form-submit,
.aSkin:after,
.button {
  border: @f-border-width solid @border-color;
  display: inline-block;
  color: @f-button-color;
  font-size: @f-label-size;
  font-weight: bold;
  padding: @f-button-pad-vert @f-button-pad-hor;
  text-decoration:none;
  text-transform: uppercase;
  text-shadow: @f-button-text-shadow;
  .box-shadow(@f-button-shadow);
  .gradient(@f-button-gradient-start, @f-button-gradient-end);
  .border-radius(@f-button-border-rad);
  &.active,
  &:active,
  &:hover {
    border: none;
    margin: @f-border-width;
    text-shadow: none;
    color: @f-button-color-hover;
  }
  &:hover {
    .gradient(@f-button-hover-gradient-start, @f-button-hover-gradient-end);
    .box-shadow(@f-button-shadow-hover);
  }
  &.active,
  &:active {
    position:relative;
    top:@f-button-push-offset;
    .box-shadow(@f-button-shadow-active);
  }
  &:focus {
    outline: none;
  }
}

// Fix for "Add more" button.
form {
  .field-add-more-submit {
    margin: 0;
    &:hover {
      margin: 0;
      border: @f-border-width solid @border-color;
    }
  }
  .field-multiple-table {
    margin-bottom: @default-margin * .5;
  }
}

// Selectlist.
.aSkin {
  padding-right: @f-select-arrow-width + @f-input-pad-vert;
  border: @f-border-width solid @f-border-color;
  .transition(none);
  .ddTitle {
    height: @f-item-height - (@f-input-pad-vert + @f-border-width) * 2;
  }
  .ddChild {
    width: auto !important;
    top: (@f-item-height - @f-border-width * 2) !important;
    left: 0;
    right: 0;
    margin-left: -@f-border-width;
    margin-right: -@f-border-width;
    border: @f-border-width solid @f-border-color;
    li {
      background-color: @f-item-background;
      .border-radius(0);
      &.selected,
      &:hover {
        background-color: @f-select-backgound-hover;
      }
    }
    .ddlabel {
      display: inline-block;
      padding: @f-input-pad-vert @f-input-pad-hor;
      white-space: nowrap;
    }
  }

  // Selectlist arrow styling.
  &:after {
    // Default state.
    display: block;
    content: @f-select-arrow-down;
    line-height: 18px;
    width: @f-select-arrow-width;
    position: absolute;
    top: -@f-border-width;
    right: -@f-border-width;
    height: @f-item-height;
    border: @f-border-width solid @f-border-color;
    padding: @f-select-pad-vert @f-select-pad-hor;
    z-index: 11;
    .border-radiuses(@f-border-rad, @f-border-rad, 0, 0);
  }
  // State "hover" or "opened".
  &.borderRadiusTp,
  &:hover {
    &:after {
      .gradient(@f-button-hover-gradient-start, @f-button-hover-gradient-end);
      .box-shadow(@f-button-shadow-hover);
    }
  }
  // State "pressed".
  &:active {
    &:after {
      top: -@f-border-width + @f-button-push-offset;
      height: @f-item-height - @f-button-push-offset;
      .box-shadow(@f-button-shadow-active);
    }
  }
  // State "opened".
  &.borderRadiusTp, {
    .border-radiuses(@f-border-rad, 0, 0, @f-border-rad);
    &:after {
      content: @f-select-arrow-up;
    }
  }
  // State "hover", "pressed" or "opened"
  &.borderRadiusTp,
  &:active,
  &:hover {
    &:after {
      text-shadow: none;
      color: @f-button-color-hover;
    }
  }
}
