table {
  &.views-table {
    width: 100%;
    .views-empty {
      p {
        margin: 0;
      }
    }
  }
  thead {
    tr {
      th {
        border: 1px solid white;
        padding: @table-padding;
        background-color: @pane-color-bg;
        text-indent: 5px;
      }
    }
  }
  tbody {
    tr {
      th, td {
        border: 1px solid white;
        padding: @table-padding;
      }
      &.even,
      &.odd {
        background-color: transparent;
        border: none;
      }
      &.even {
        background-color: @pane-color-bg;
      }
      &.odd {
        background-color: @background-color;
      }
      // Tabledrag.
      &.draggable {
        padding: 0;
        .field-multiple-drag {
          vertical-align: middle;
          padding: 0;
          width: auto;
          .tabledrag-handle {
            display: block;
            padding: 0;
            margin: 0;
            width: 23px;
            height: 23px;
            .handle {
              padding: 0;
              margin: 5px;
              width: 100%;
              height: 100%;
              background-position: 0 0;
              .box-sizing(content-box);
            }
          }
        }
      }
    }
  }
}
