// Default page header.
.page-header {
  margin-bottom: @default-margin;
  .breadcrumb {
    margin: 0;
    padding: 0;
    a {
      font-size: 14px;
    }
  }
  .tabs {
    margin-bottom: @pane-default-margin;
    ul.tabs {
      margin: 0;
      padding: 0;
      border-bottom: 2px solid @tabs-border-color;
      .clearfix();
      li a {
        border-color: @tabs-border-color;
      }
    }
    li {
      display: block;
      float: left;
      padding: 0;
      border: none;
      a {
        font-size: 14px;
        display: block;
        line-height: 16px;
        margin: 0;
        padding: 6px 12px;
        border: 1px solid;
        border-right: 0;
        border-bottom: 0;
        text-shadow: 2px 2px 3px @background-color;
        .transition(none);
        .gradient(@tabs-link-start, @tabs-link-end);
        &:hover {
          .gradient(@tabs-link-active-start, @tabs-link-active-end);
        }
      }
      &.active {
        a {
          border-bottom: 0;
          color: @link-color-link-hover;
          .gradient(@tabs-link-active-start, @tabs-link-active-end);
          &:hover {
            color: @link-color-link-hover-active;
          }
        }
      }
      &:first-child {
        a {
          .border-radiuses(0, 0, 0, 5px);
        }
      }
      &:last-child {
        a {
          border-right: 1px solid;
          .border-radiuses(5px, 0, 0, 0);
        }
      }
    }
    // Secondary tabs.
    ul.tabs.secondary {
      border-top: 1px solid @tabs-border-color;
      border-bottom: none;
      float: right;
      li {
        a {
          .gradient(@tabs-link-end, @tabs-link-start);
          &:hover {
            .gradient(@tabs-link-active-start, @tabs-link-active-end);
          }
        }
        &:first-child {
          a {
            .border-radiuses(0, 0, 5px, 0);
          }
        }
        &:last-child {
          a {
            .border-radiuses(0, 5px, 0, 0);
          }
        }
      }
    }
  }
}
