// Fonts.
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);
// Site background.
body {
  background-color: @background-color;
}

// Link default style.
a:not(.contextual-links-trigger):not(.button) {
  text-decoration: none;
  color: @link-color-link;
  .transition(color 0.5s);
  &:hover {
    color: @link-color-link-hover;
  }
}

// Hide some header elements on front page.
body.page-home .page-header {
  .breadcrumb,
  .page-title,
  .tabs {
    display: none;
  }
}
// Hide text format descriptions.
.text-format-wrapper .filter-wrapper {
  display: none;
}

// Margin between site regions.
.site-header,
.site-footer,
.site-content {
  margin-bottom: @default-margin * 3;
}

// Fieldsets default style.
fieldset.form-wrapper {
  border: 1px solid @border-color;
  legend {
    padding-right: 3px;
    margin-left: 10px;
    text-indent: 5px;
  }
  .fieldset-wrapper {
    padding: @gutter;
  }
}

/**
 * Small helper classes for pages theming.
 */
.margin-auto {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
