// Default styles.
body {
  font: @default-fontsize @default-font;
  line-height: @default-lineheight;
  color: @default-fontcolor;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @default-font-h;
  color: @default-fontcolor-h;
}
h1 {
  font-size: @default-h1-size;
}
h2 {
  font-size: @default-h2-size;
}
h3 {
  font-size: @default-h3-size;
}
h4 {
  font-size: @default-h4-size;
}
h5 {
  font-size: @default-h5-size;
}
h6 {
  font-size: @default-h6-size;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: @default-margin;
}

// Build column classes and layout sizes.
.build-columns(@columns);
.container {
  min-width: @col-xs;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen {
  @media (min-width: @col-sm) {
    .container {
      width: @col-sm;
    }
  }
  @media (min-width: @col-md) {
    .container {
      width: @col-md;
    }
  }
  @media (min-width: @col-lg) {
    .container {
      width: @col-lg;
    }
  }
}

// Reset column paddings.
.row {
  margin-left: -@gutter;
  margin-right: -@gutter;
}

// Use border-box everywhere.
html {
  .box-sizing(border-box);
}
*, *:before, *:after {
  .box-sizing(inherit);
}

// Other.
.clearfix {
  .clearfix();
}
.element-invisible {
  display: none;
}
