/**
 * General mixin to build CSS columns.
 */
.build-columns(@cols) when (@cols > 0) {
  // Extra small columns.
  .build-column(xs, @cols);
  @media screen {
    @media (min-width: @col-sm) {
      // Small columns.
      .build-column(sm, @cols);
    }
    @media (min-width: @col-md) {
      // Middle columns.
      .build-column(md, @cols);
    }
    @media (min-width: @col-lg) {
      // Large columns.
      .build-column(lg, @cols);
    }
  }
  // General parameters for each column.
  .columns-general-parameters(@cols);
}

/**
 * Mixin to build column types recursively.
 */
.build-column(@type, @column) when (@column > 0) {
  .col-@{type}-@{column} {
    width: 100% / @columns * @column;
  }
  // Recursion
  .build-column(@type, @column - 1);
}

/**
 * Mixin to set general parameters for each column.
 */
.columns-general-parameters(@cols) {
  // Dummy class to extend general parameters.
  .col {
    // This parameters will be applied to all comuns.
    padding-left: @gutter;
    padding-right: @gutter;
    min-height: 1px;
    float: left;
  }
  // Extend class "col" for each column class.
  .columns-general-parameters-extend(@cols);
}

/**
 * Recursive extending of the class.
 */
.columns-general-parameters-extend(@column) when (@column > 0) {
  // Extending for each column type.
  .col-xs-@{column}:extend(.col) {}
  .col-sm-@{column}:extend(.col) {}
  .col-md-@{column}:extend(.col) {}
  .col-lg-@{column}:extend(.col) {}
  // Recursion.
  .columns-general-parameters-extend(@column - 1);
}

/**
 * Clearfix mixin.
 */
.clearfix() {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

/**
 * Text shadow.
 */
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}

/**
 * Box shadow.
 */
.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

/**
 * Box shadow extended.
 */
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow:  @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:   @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

/**
 * Box shadow inner.
 */
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

/**
 * Box sizing.
 */
.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

/**
 * Border radius.
 */
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

/**
 * Border radius for each corner.
 */
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

/**
 * Opacity mixin.
 */
.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity:    @opacity;
  opacity:         @opacity;
}

/**
 * Vertical twocolor gradient.
 */
.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

/**
 * Horizontal twocolor gradient.
 */
.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

/**
 * Animation.
 */
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

/**
 * Transitions.
 */
.transition (...) {
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
  -webkit-transition: @value;
  -moz-transition:    @value;
  -ms-transition:     @value;
  -o-transition:      @value;
}

/**
 * Transform general.
 */
.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}

/**
 * Transform scale.
 */
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:    scale(@factor);
  -ms-transform:     scale(@factor);
  -o-transform:      scale(@factor);
}

/**
 * Transform rotate.
 */
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}

/**
 * Transform skew.
 */
.skew (@deg, @deg2) {
  -webkit-transform: skew(@deg, @deg2);
  -moz-transform:    skew(@deg, @deg2);
  -ms-transform:     skew(@deg, @deg2);
  -o-transform:      skew(@deg, @deg2);
}

/**
 * Transform translate.
 */
.translate (@x, @y:0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform:    translate(@x, @y);
  -ms-transform:     translate(@x, @y);
  -o-transform:      translate(@x, @y);
}

/**
 * Transform translate3d.
 */
.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform:    translate3d(@x, @y, @z);
  -ms-transform:     translate3d(@x, @y, @z);
  -o-transform:      translate3d(@x, @y, @z);
}

/**
 * Perspective.
 */
.perspective (@value: 1000) {
  -webkit-perspective:  @value;
  -moz-perspective:     @value;
  -ms-perspective:      @value;
  perspective:          @value;
}

/**
 * Transform origin.
 */
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

/**
 * Appearance.
 */
.appearance(@value: none) {
  -webkit-appearance: @value;
  -moz-appearance:    @value;
  appearance:         @value;
}

/**
 * User select.
 */
.user-select(@value: none) {
  -webkit-touch-callout: @value;
  -webkit-user-select: @value;
  -khtml-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}
