/**
 * System variables.
 */
@columns: 12;
@gutter: 15px;

/**
 * Breakpoints.
 */
@col-lg: 1200px;
@col-md: 960px;
@col-sm: 960px;
@col-xs: 960px;

/**
 * Required defaults.
 */
// Default font style.
@default-font: Helvetica, Arial, sans-serif;
@default-fontcolor: #b8b8b8;
@default-fontsize: 13px;
@default-lineheight: 1.5;
// Default styles for tag H.
@default-font-h: Helvetica, Arial, sans-serif;
@default-fontcolor-h: #e0e0e0;
@default-h1-size: 34px;
@default-h2-size: 28px;
@default-h3-size: 22px;
@default-h4-size: 20px;
@default-h5-size: 18px;
@default-h6-size: 16px;
// Other defaults.
@default-margin: 14px;
